In [1]:
import pandas as pd
import time

In [2]:
coes_o = pd.read_csv("./COES/accionesdeprotesta_2012-2017_v.1.csv")
print(len(coes_o))
coes_o.head()

11511

/home/vicente/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,8,63,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,medio,pa,p0,p1,p2a,p2b,p2c,p3,p3a,p4,...,p28d,p28e,p28f,p29a,p29b,p29c,p29d,p29e,p29f,p29f_texto
0,EL MERCURIO,1,,2,10,11,17,C13,1,50,...,,,,30,,,,,,.
1,COMBINADOS,3,1,1,10,11,17,C13,1,50,...,,,,30,27,,,,,.
2,DIARIO LA REGIÓN DE COQUIMBO,0,,1,28,12,18,6,1,120,...,,,,2,,,,,,.
3,DIARIO DE ATACAMA,0,,1,13,1,18,4,1,56,...,,,,18,,,,,,.
4,AUSTRAL TEMUCO,0,,171,4,4,18,7,1,90,...,,,,1,19,,,,,.

In [3]:
#TABLA Acciones
variables_acciones = ['p2a','p2b','p2c','p3','p3a','p4',
                      'p1','p5a','p5b','p5c','p5d','p5e',
                      'p5f','p0','p8','p9','p9a','p10',
                      'p11','p12','p14a','p14b','p14c',
                      'p14d','p14e','p14f','p14g','p14h',
                      'p16','p21','p22a','p22b',
                      'p22c','p22d','p23','p24','p25',
                      'p26a','p26b','p26c','p26d','p26e',
                      'p26f','p27','p28a','p28b','p28c',
                      'p28d','p28e','p28f','medio','p10a']
columnas_acciones = ['fecha_observacion_d',
                     'fecha_observacion_m',
                     'fecha_observacion_a',
                     'numero_pagina ',
                     'tipo_noticia',
                     'numero_lineas',
                     'numero_respaldo',
                     'fecha_inicio_d',
                     'fecha_inicio_m',
                     'fecha_inicio_a',
                     'fecha_fin_d',
                     'fecha_fin_m',
                     'fecha_fin_a',
                     'repetida',
                     'comuna',
                     'localidad',
                     'rural_urbana',
                     'lugar_objetivo',
                     'numero_participantes',
                     'numero_participantes_estimado',
                     'apunta_autoridad_nacional',
                     'apunta_autoridad_local',
                     'amputa_empresa',
                     'apunta_estado_extranjero',
                     'apunta_educativa',
                     'apunta_salud',
                     'apunta_actor_civil',
                     'apunta_otro',
                     'numero_organizaciones',
                     'presencia_carabineros',
                     'fuerza_cuerpo',
                     'fuerza_antidisturbios',
                     'fuerza_fuego',
                     'presencia_arrestos',
                     'numero_arrestos',
                     'numero_arrestos_estimado',
                     'presencia_heridos',
                     'manifestantes_heridos',
                     'manifestantes_heridos_estimado',
                     'seguridad_heridos',
                     'seguridad_heridos_estimado',
                     'terceros_heridos',
                     'terceros_heridos_estimado',
                     'presencia_muertos',
                     'manifestantes_muertos',
                     'manifestantes_muertos_estimado',
                     'seguridad_muertos',
                     'seguridad_muertos_estimado',
                     'terceros_muertos',
                     'terceros_muertos_estimado',
                     'id_medio',
                     'id_episodio']
acciones = coes_o[variables_acciones]
acciones.columns = columnas_acciones
acciones.head()

,fecha_observacion_d,fecha_observacion_m,fecha_observacion_a,numero_pagina,tipo_noticia,numero_lineas,numero_respaldo,fecha_inicio_d,fecha_inicio_m,fecha_inicio_a,...,terceros_heridos_estimado,presencia_muertos,manifestantes_muertos,manifestantes_muertos_estimado,seguridad_muertos,seguridad_muertos_estimado,terceros_muertos,terceros_muertos_estimado,id_medio,id_episodio
0,10,11,17,C13,1,50,2,1,1,12,...,,2,,,,,,,EL MERCURIO,
1,10,11,17,C13,1,50,1,1,1,12,...,,2,,,,,,,COMBINADOS,
2,28,12,18,6,1,120,1,2,1,12,...,,2,,,,,,,DIARIO LA REGIÓN DE COQUIMBO,
3,13,1,18,4,1,56,1,3,1,12,...,,2,,,,,,,DIARIO DE ATACAMA,
4,4,4,18,7,1,90,171,3,1,12,...,,2,,,,,,,AUSTRAL TEMUCO,

In [4]:
#Cast dates to datetime

#fecha_observacion
fecha_observacion = acciones[['fecha_observacion_d','fecha_observacion_m','fecha_observacion_a']]
fecha_observacion.columns = ['day','month','year']
print(fecha_observacion.iloc[0:10])
fecha_observacion.day = pd.to_numeric(fecha_observacion.day,errors='coerce')
fecha_observacion.month = pd.to_numeric(fecha_observacion.month,errors='coerce')
fecha_observacion.year = pd.to_numeric(fecha_observacion.year,errors='coerce')
fecha_observacion.year = fecha_observacion.year + 2000
fecha_observacion = pd.to_datetime(fecha_observacion,errors='coerce')
print(fecha_observacion.iloc[0:10])

#fecha_inicio
fecha_inicio = acciones[['fecha_inicio_d','fecha_inicio_m','fecha_inicio_a']]
fecha_inicio.columns = ['day','month','year']
fecha_inicio.day = pd.to_numeric(fecha_inicio.day,errors='coerce')
fecha_inicio.month = pd.to_numeric(fecha_inicio.month,errors='coerce')
fecha_inicio.year = pd.to_numeric(fecha_inicio.year,errors='coerce')
fecha_inicio.year = fecha_inicio.year + 2000
fecha_inicio = pd.to_datetime(fecha_inicio,errors='coerce')

#fecha_fin
fecha_fin = acciones[['fecha_fin_d','fecha_fin_m','fecha_fin_a']]
fecha_fin.columns = ['day','month','year']
fecha_fin.day = pd.to_numeric(fecha_fin.day,errors='coerce')
fecha_fin.month = pd.to_numeric(fecha_fin.month,errors='coerce')
fecha_fin.year = pd.to_numeric(fecha_fin.year,errors='coerce')
fecha_fin = fecha_fin.dropna().astype(int)
fecha_fin.year = fecha_fin.year + 2000
fecha_fin = pd.to_datetime(fecha_fin,errors='coerce')
fecha_fin.head()

  day month year
0  10    11   17
1  10    11   17
2  28    12   18
3  13     1   18
4   4     4   18
5  20    12   17
6  24    11   17
7  24    11   17
8   2    11   17
9  20    11   17

/home/vicente/.local/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0   2017-11-10
1   2017-11-10
2   2018-12-28
3   2018-01-13
4   2018-04-04
5   2017-12-20
6   2017-11-24
7   2017-11-24
8   2017-11-02
9   2017-11-20
dtype: datetime64[ns]

4    2012-01-03
18   2012-01-12
22   2012-01-14
23   2012-01-14
32   2012-01-22
dtype: datetime64[ns]

In [5]:
acciones = acciones.drop(['fecha_observacion_d','fecha_observacion_m','fecha_observacion_a',
                          'fecha_inicio_d','fecha_inicio_m','fecha_inicio_a',
                          'fecha_fin_d','fecha_fin_m','fecha_fin_a'],axis=1)

acciones = pd.concat([acciones,fecha_observacion,fecha_inicio,fecha_fin],axis=1)
acciones = acciones.rename(columns={0:'fecha_observacion',1:'fecha_inicio',2:'fecha_fin'})
acciones.head()

,numero_pagina,tipo_noticia,numero_lineas,numero_respaldo,repetida,comuna,localidad,rural_urbana,lugar_objetivo,numero_participantes,...,manifestantes_muertos_estimado,seguridad_muertos,seguridad_muertos_estimado,terceros_muertos,terceros_muertos_estimado,id_medio,id_episodio,fecha_observacion,fecha_inicio,fecha_fin
0,C13,1,50,2,,8203,PAICAVI,0,.,,...,,,,,,EL MERCURIO,,2017-11-10,2012-01-01,NaT
1,C13,1,50,1,1,9101,BOYECO,0,.,3,...,,,,,,COMBINADOS,,2017-11-10,2012-01-01,NaT
2,6,1,120,1,,4204,VALLE CHOAPA,0,.,,...,,,,,,DIARIO LA REGIÓN DE COQUIMBO,,2018-12-28,2012-01-02,NaT
3,4,1,56,1,,3202,INSTALACIONES DE TRANSPORTE Y CHANCADO DIVISIO...,0,.,50,...,,,,,,DIARIO DE ATACAMA,,2018-01-13,2012-01-03,NaT
4,7,1,90,171,,9101,PLAZA TEODORO SCHMIDT,1,.,150,...,,,,,,AUSTRAL TEMUCO,,2018-04-04,2012-01-03,2012-01-03

In [6]:
#cambiar orden
#cambiar puntos por null
#Make boolean values 0 or 1

acciones.loc[acciones.localidad=='']

Empty DataFrame
Columns: [numero_pagina , tipo_noticia, numero_lineas, numero_respaldo, repetida, comuna, localidad, rural_urbana, lugar_objetivo, numero_participantes, numero_participantes_estimado, apunta_autoridad_nacional, apunta_autoridad_local, amputa_empresa, apunta_estado_extranjero, apunta_educativa, apunta_salud, apunta_actor_civil, apunta_otro, numero_organizaciones, presencia_carabineros, fuerza_cuerpo, fuerza_antidisturbios, fuerza_fuego, presencia_arrestos, numero_arrestos, numero_arrestos_estimado, presencia_heridos, manifestantes_heridos, manifestantes_heridos_estimado, seguridad_heridos, seguridad_heridos_estimado, terceros_heridos, terceros_heridos_estimado, presencia_muertos, manifestantes_muertos, manifestantes_muertos_estimado, seguridad_muertos, seguridad_muertos_estimado, terceros_muertos, terceros_muertos_estimado, id_medio, id_episodio, fecha_observacion, fecha_inicio, fecha_fin]
Index: []

[0 rows x 46 columns]

In [7]:
#medios para claves
medios = coes_o['medio']
print(len(medios))
medios = medios.drop_duplicates()
medios = medios.reset_index(drop=True)
medios.columns = ['id_medio','nombre']
medios.head()

11511

0                     EL MERCURIO
1                      COMBINADOS
2    DIARIO LA REGIÓN DE COQUIMBO
3               DIARIO DE ATACAMA
4                  AUSTRAL TEMUCO
Name: medio, dtype: object

In [8]:
dmedios = medios.to_dict()
dmediosi = dict((val,key) for (key,val) in dmedios.items())
print(dmediosi)
acciones.id_medio.replace(dmediosi,inplace=True)
acciones.head()

{'EL MERCURIO': 0, 'COMBINADOS': 1, 'DIARIO LA REGIÓN DE COQUIMBO': 2, 'DIARIO DE ATACAMA': 3, 'AUSTRAL TEMUCO': 4, 'EL LLANQUIHUE': 5, 'LA ESTRELLA DE ARICA': 6, 'EL RANCAGÜINO - DIARIO VI REGIÓN': 7, 'LA ESTRELLA DE IQUIQUE': 8, 'LA ESTRELLA DE VALPARAÍSO': 9, 'DIARIO LA PRENSA DE CURICÓ': 10, 'LA PRENSA AUSTRAL': 11, 'DIARIO DE AYSÉN': 12, 'BIO BIO': 13, 'LA TERCERA': 14, 'LA ESTRELLA DE ANTOFAGASTA': 15, 'COOPERATIVA': 16, 'AUSTRAL VALDIVIA': 17, 'DIARIO FINANCIERO': 18}

,numero_pagina,tipo_noticia,numero_lineas,numero_respaldo,repetida,comuna,localidad,rural_urbana,lugar_objetivo,numero_participantes,...,manifestantes_muertos_estimado,seguridad_muertos,seguridad_muertos_estimado,terceros_muertos,terceros_muertos_estimado,id_medio,id_episodio,fecha_observacion,fecha_inicio,fecha_fin
0,C13,1,50,2,,8203,PAICAVI,0,.,,...,,,,,,0,,2017-11-10,2012-01-01,NaT
1,C13,1,50,1,1,9101,BOYECO,0,.,3,...,,,,,,1,,2017-11-10,2012-01-01,NaT
2,6,1,120,1,,4204,VALLE CHOAPA,0,.,,...,,,,,,2,,2018-12-28,2012-01-02,NaT
3,4,1,56,1,,3202,INSTALACIONES DE TRANSPORTE Y CHANCADO DIVISIO...,0,.,50,...,,,,,,3,,2018-01-13,2012-01-03,NaT
4,7,1,90,171,,9101,PLAZA TEODORO SCHMIDT,1,.,150,...,,,,,,4,,2018-04-04,2012-01-03,2012-01-03

In [9]:
#TABLA medios
medios = coes_o[['medio','pa']]
medios = medios.drop_duplicates()
medios = medios.reset_index(drop=True)
medios.columns = ['nombre','tipo']
medios.head()

                         nombre  tipo
0                   EL MERCURIO     1
1                    COMBINADOS     3
2  DIARIO LA REGIÓN DE COQUIMBO     0
3             DIARIO DE ATACAMA     0
4                AUSTRAL TEMUCO     0

In [10]:
#TABLA epsiodios contenciosos
episodios = coes_o[['p10a','p11a']]
episodios = episodios.drop_duplicates()
episodios.columns = ['id_episodio','participantes']
episodios.reset_index(inplace=True, drop=True)
episodios = episodios.drop(episodios[episodios.id_episodio==' '].index)
print(episodios)

    id_episodio participantes
1          4000
2          4004
3           101
4          4001
5          3100
6          6118
7          4005
8          3000
9          4006
10         2502
11         6100
12         4926
13         3001
14         3002
15         1001
16         3002            70
17         1002
18         4632
19         1003
20         3004
21         3005
22         3006
23         3007
24         6114
25         3008
26         6119
27         3009
28         5000
29         3010
30         3011
..          ...           ...
866        2036
867        6211
868        4314
869        4315
870        2046
871        4001           754
872        2038
873        4316
874        2037
875        3611
876        3612
877        4317
878        2042
879        2040           479
880        2041
881        2047
882        4318
883        2048
884        3613
885        4319
886        4320
887        2049
888        2050
889        6212           416
890        6212
891        6233
892        4322
894        2051
895        2052
896        2053

[852 rows x 2 columns]

In [11]:
#TABLA tipo de grupo social. Del anexo.
dict_tipos_gs = {'nombre':['Sexo/Edad','Grupos étnicos','Estudiantes','Grupos laborales','Partidos, religión y deporte','Consumidores y deudores','Grupos según vivenda/geografía','Grupos de género, ecologistas-animalistas, artistas','Clandestinos, presos, grupos de odio','Otros']}
tipos_grupo_social = pd.DataFrame(data=dict_tipos_gs)
tipos_grupo_social['id'] = tipos_grupo_social.index
tipos_grupo_social = tipos_grupo_social[['id','nombre']]
print(tipos_grupo_social)

   id                                             nombre
0   0                                          Sexo/Edad
1   1                                     Grupos étnicos
2   2                                        Estudiantes
3   3                                   Grupos laborales
4   4                       Partidos, religión y deporte
5   5                            Consumidores y deudores
6   6                     Grupos según vivenda/geografía
7   7  Grupos de género, ecologistas-animalistas, art...
8   8               Clandestinos, presos, grupos de odio
9   9                                              Otros

In [12]:
#TABLA grupo social. Del anexo.
dict_grupos_sociales = {'nombre':['Hombres','Mujeres','Jóvenes','Adultos mayores','Pueblos originarios: mapuche','Pueblos originarios: no mapuche','Pueblos originarios: Indeterminado','Inmigrantes','Estudiantes universitarios','Estudiantes secundarios','Estudiantes (indeterminado)','Trabajadores empleados en el sector público','Trabajadores empleados en el sector privado','Trabajadores por cuenta propia o de pymes','Trabajadores indeterminados','Desempleados, cesantes','Jubilados, pensionistas','Jefas de hogar','Grupos de simpatizantes o afiliados a partidos u organizaciones políticas','Grupos religiosos','Grupos relacionados a instituciones deportivas','Consumidores de vienes y servicios varios','Deudores','Personas sin hogar','Pobladores','Residentes o vecinos de un barrio, localidad, comuna o región','Homosexuales/minorías sexuales/feministas','Ecologistas/ambientalistas/animalistas','Artistas, comunicadores,periodistas','"Encapuchados", o cualquier grupo que intencionalmente oculte su identidad','Grupos de "odio"','Presos, detenidos','Familiares de presos o detenidos','Anarquistas, okupas, grupos libertarios'],
                        'tipo':[0,0,0,0,1,1,1,1,2,2,2,3,3,3,3,3,3,3,4,4,4,5,5,6,6,6,7,7,7,8,8,8,8,8]}
grupos_sociales = pd.DataFrame(data = dict_grupos_sociales)
#agregar otros
otros_grupos_sociales = coes_o[['p13d_texto']]
otros_grupos_sociales.drop_duplicates(inplace=True)
otros_grupos_sociales = otros_grupos_sociales.drop([0])
otros_grupos_sociales = otros_grupos_sociales.reset_index(drop=True)
otros_grupos_sociales.index = otros_grupos_sociales.index + 34
otros_grupos_sociales['tipo'] = 9
otros_grupos_sociales.rename(columns={'p13d_texto':'nombre'},inplace=True)
grupos_sociales = grupos_sociales.append(otros_grupos_sociales)
grupos_sociales['id'] = grupos_sociales.index  + 1
grupos_sociales = grupos_sociales[['id','nombre','tipo']]
print(grupos_sociales)

    id                                             nombre  tipo
0    0                                            Hombres     0
1    1                                            Mujeres     0
2    2                                            Jóvenes     0
3    3                                    Adultos mayores     0
4    4                       Pueblos originarios: mapuche     1
5    5                    Pueblos originarios: no mapuche     1
6    6                 Pueblos originarios: Indeterminado     1
7    7                                        Inmigrantes     1
8    8                         Estudiantes universitarios     2
9    9                            Estudiantes secundarios     2
10  10                        Estudiantes (indeterminado)     2
11  11        Trabajadores empleados en el sector público     3
12  12        Trabajadores empleados en el sector privado     3
13  13          Trabajadores por cuenta propia o de pymes     3
14  14                        Trabajadores indeterminados     3
15  15                             Desempleados, cesantes     3
16  16                            Jubilados, pensionistas     3
17  17                                     Jefas de hogar     3
18  18  Grupos de simpatizantes o afiliados a partidos...     4
19  19                                  Grupos religiosos     4
20  20     Grupos relacionados a instituciones deportivas     4
21  21          Consumidores de vienes y servicios varios     5
22  22                                           Deudores     5
23  23                                 Personas sin hogar     6
24  24                                         Pobladores     6
25  25  Residentes o vecinos de un barrio, localidad, ...     6
26  26          Homosexuales/minorías sexuales/feministas     7
27  27             Ecologistas/ambientalistas/animalistas     7
28  28                Artistas, comunicadores,periodistas     7
29  29  "Encapuchados", o cualquier grupo que intencio...     8
30  30                                   Grupos de "odio"     8
31  31                                  Presos, detenidos     8
32  32                   Familiares de presos o detenidos     8
33  33            Anarquistas, okupas, grupos libertarios     8
34  34                                         FAMILIARES     9
35  35                                         APODERADOS     9
36  36                                              NIÑOS     9
37  37                                       EX MILITARES     9
38  38                                        EMPRESARIOS     9
39  39                                           ENFERMOS     9
40  40                                     EX CONSCRIPTOS     9
41  41                                     DISCAPACITADOS     9
42  42                                EX PRESOS POLÍTICOS     9
43  43                                           BOMBEROS     9

/home/vicente/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [13]:
#TABLA grupo social de accion
#esto se podría hacer de forma más pythónica(?)
#base
grupo_social_aux = coes_o[['p13a','p13b','p13c','p13d']].values.flatten()
gs = pd.concat([pd.DataFrame([[i//4,v]],columns=['id_accion','id_grupo_social']) for i, v in enumerate(grupo_social_aux)],ignore_index=True)
gs.head()

   id_accion id_grupo_social
0          0              30
1          0
2          0
3          0
4          1              30

In [14]:
gs_nd = gs.drop_duplicates().reset_index(drop=True)
print(len(gs_nd))
gs_nd = gs_nd.drop(gs_nd[gs_nd.id_grupo_social==' '].index)
print(len(gs_nd))
print(gs_nd.head())

26649
15716
   id_accion id_grupo_social
0          0              30
2          1              30
3          1               5
5          2              26
7          3              13

In [15]:
#otros
otros_grupos_sociales.head()
ogs_aux = otros_grupos_sociales.drop(['tipo'],axis=1).to_dict()
ogs_aux = ogs_aux['nombre']
ogs_aux_i = dict((val,key) for (key,val) in ogs_aux.items())
print(ogs_aux_i)
ogs_rep = coes_o[['p13d_texto']].p13d_texto.replace(ogs_aux_i)
ogs_rep = ogs_rep.drop(ogs_rep[ogs_rep=='.'].index)
ogs_rep = pd.DataFrame(ogs_rep)
ogs_rep['id_accion'] = ogs_rep.index
ogs_rep.columns = ['id_grupo_social','id_accion']
ogs_rep.head()
grupos_accion = gs_nd.append(ogs_rep).astype('int').sort_values('id_accion')
grupos_accion = grupos_accion.drop(grupos_accion[grupos_accion.id_grupo_social==99].index)
grupos_accion = grupos_accion.reset_index(drop=True)
print(len(grupos_accion))
grupos_accion.iloc[335:400]

{'FAMILIARES': 34, 'APODERADOS': 35, 'NIÑOS': 36, 'EX MILITARES': 37, 'EMPRESARIOS': 38, 'ENFERMOS': 39, 'EX CONSCRIPTOS': 40, 'DISCAPACITADOS': 41, 'EX PRESOS POLÍTICOS': 42, 'BOMBEROS': 43}
15705

/home/vicente/.local/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

     id_accion  id_grupo_social
335        265               10
336        266               10
337        267               19
338        267               12
339        267               10
340        268                9
341        268               10
342        268               12
343        268               35
344        269               30
345        270               10
346        270                9
347        271               10
348        271                9
349        272               26
350        273               26
351        273                9
352        273               14
353        274               26
354        275               26
355        276               26
356        276               30
357        277               10
358        277                9
359        278               26
360        279                9
361        279               10
362        280               10
363        281                9
364        281               10
..         ...              ...
370        286               10
371        287                9
372        287               10
373        288               10
374        288                9
375        289               21
376        290               29
377        290               26
378        291               12
379        292               26
380        293               26
381        294               30
382        295               26
383        295               14
384        296                9
385        296               26
386        297               26
387        297               14
388        298               14
389        299               14
390        299               26
391        300               13
392        301                1
393        301                2
394        302               14
395        303               26
396        305               13
397        306               13
398        307               26
399        307               12

[65 rows x 2 columns]

In [16]:
#TABLA organizaciones
organizaciones_aux = coes_o[['p17a','p17b','p17c','p17d','p17e','p17f']].values.flatten()
orgs = pd.concat([pd.DataFrame([[i//6,v]],columns=['id_accion','organizacion']) for i, v in enumerate(organizaciones_aux)],ignore_index=True)
orgs = orgs.drop(orgs[orgs.organizacion=='.'].index)
orgs.head()

    id_accion                          organizacion
6           1                                   CAM
12          2                          AGRICULTORES
18          3  TRABAJADORES EMPRESA CONTRATISTA LGP
24          4                                 FEMAE
25          4                                FEUFRO

In [17]:
n_orgs = orgs[['organizacion']]
print(n_orgs)

n_orgs = n_orgs.drop_duplicates()
print(len(n_orgs))
organizaciones = n_orgs.reset_index(drop=True)
print(organizaciones.head())

#TABLA organizaciones en acción
d_orgs = n_orgs.to_dict()['organizacion']
d_orgs_i = dict((v,k) for (k,v) in d_orgs.items())
organizaciones_accion = orgs
organizaciones_accion.organizacion = organizaciones_accion.organizacion.replace(d_orgs_i)
organizaciones_accion = organizaciones_accion.reset_index(drop=True)
organizaciones_accion.head()

                                            organizacion
6                                                    CAM
12                                          AGRICULTORES
18                  TRABAJADORES EMPRESA CONTRATISTA LGP
24                                                 FEMAE
25                                                FEUFRO
30                           MADRES DEL SECTOR DE ALERCE
36                                   COMUNIDADES MAPUCHE
48                     AGRUPACIONES DE DIVERSIDAD SEXUAL
72                                     COMUNEROS MAPUCHE
78                                 VECINOS DE PICHIDEGUA
96                    ESTUDIANTES LICEO CARMELA CARVAJAL
102                   SINDICATO DE CHOFERES N°1 LINCOSUR
103                SINDICATO DE CHOFERES N°2 DE LINCOSUR
108                                TRABAJADORES PABELLON
114                     VECINOS DE LOCALIDAD DE TARAPACA
120                          COMUNIDAD LICEO PEDRO MONTT
126      AGRUPACION DE PRODUCTORES DE BERRIES DE ROMERAL
132                  SINDICATO DE PESCADORES ARTESANALES
133          ASOCIACION GREMIAL DE PESCADORES DE CALDERA
138              TRABAJADORES EMPRESA EXPRESS SANTIAGO 1
144                                                 ACES
150                                          ESTUDIANTES
156                                           CARGADORES
162                          COMUNIDAD LICEO PEDRO MONTT
174                                COLEGIO DE PROFESORES
180                              HABITANTES HUACHALALUME
186                            ESTUDIANTES DE VALPARAISO
192                                               SINAMI
210                                          ESTUDIANTES
216           SINDICATO SOLUCIONES INTEGRALES LOGISTICAS
...                                                  ...
68922                                    SINDICATO GASCO
68928                         FAMILIARES DE DESAPARECIDO
68934  AGRUPACION DE PADRES Y APODERADOS DEL JARDIN I...
68940                   COORDINADORA NO MAS PARQUIMETROS
68941                 SINDICATO DE ACOMODADORES DE AUTOS
68942                                  FEDERACION MIPYME
68946  FUNCIONARIOS UNIVERSIDAD DE LOS LAGOS CAMPUS C...
68952                  JUNTA DE VECINOS VILLA EL COSMITO
68958                       PERUANOS RESIDENTES EN CHILE
68964                        COMUNIDAD DOMINGO PAINEVILO
68970                                 SINDICATO N°2 INIA
68976                             AGRUPACIONES INDÍGENAS
68982                   CENTRO DE PADRES COLEGIO ANTILÉN
68988                         SINDICATO INIA CARRILLANCA
68994                                 SINDICATO N°1 INIA
68995                                 SINDICATO N°2 INIA
69006                        INTERNOS CENTRO LA ALBORADA
69012                                ESTUDIANTES LICEO 7
69018                                ESTUDIANTES LICEO 7
69024                                ESTUDIANTES LICEO 7
69030                                ESTUDIANTES LICEO 7
69036                                ESTUDIANTES LICEO 7
69042               RED DE HUMEDALES URBANOS DE VALDIVIA
69043                  JUNTA DE VECINOS DE SANTO DOMINGO
69048               RED DE HUMEDALES URBANOS DE VALDIVIA
69049                  JUNTA DE VECINOS DE SANTO DOMINGO
69054               RED DE HUMEDALES URBANOS DE VALDIVIA
69055                  JUNTA DE VECINOS DE SANTO DOMINGO
69060               RED DE HUMEDALES URBANOS DE VALDIVIA
69061                  JUNTA DE VECINOS DE SANTO DOMINGO

[13611 rows x 1 columns]
6143
                           organizacion
0                                   CAM
1                          AGRICULTORES
2  TRABAJADORES EMPRESA CONTRATISTA LGP
3                                 FEMAE
4                                FEUFRO

   id_accion  organizacion
0          1             6
1          2            12
2          3            18
3          4            24
4          4            25

In [18]:
#TABLA tipos de elemento de demanda. Del anexo.
dict_tipo_ed = {'nombre':['Educacion','Pueblos originarios','Laborales','Ecologista, ambientalista','Feminista, mujeres','Salud','Cuestiones "valoricas"','Regionalistas, urbanas y/o locales','Minorías sexuales','Antiinmigrantes/grupos étnicos','Régimen militar','Sistema político','Otros']}
tipo_ed = pd.DataFrame(data=dict_tipo_ed)
tipo_ed['id'] = tipo_ed.index
tipo_ed = tipo_ed[['id','nombre']]
tipo_ed.head()

   id                     nombre
0   0                  Educacion
1   1        Pueblos originarios
2   2                  Laborales
3   3  Ecologista, ambientalista
4   4         Feminista, mujeres

In [19]:
#TABLAS elementos de demanda. Del anexo
dict_elementos_demanda = {'nombre':[
    'Educación en general',
    'Costos de educación, deudas educativas',
    'Cobertura, calidad y desigualdad educativa',
    'Educación gratuita, pública',
    'Beneficios asociados a condición de estudiante',
    'Faltas ético-legales. lucro en educación, irregularidades legales, coimas, etc.',
    'Aspectos curriculares y de contenidos',
    'Problemas vinculados a instituciones especificas',
    'Derechos o situación de profesores o funcionarios administrativos',
    'Otras demandas educativas',
    'Pueblos originarios en general',
    'Devolución de tierras',
    'Condiciones socioeconómicas, préstamos, programas de ayuda',
    'Condiciones legales, autonomía, representación política',
    'Represión policial, brutalidad policial',
    'Fallos de la justicia relativos a pueblos originarios',
    'Culturales (Amenazas a identidad y formas de vida, estigmas, discriminación)',
    'Otras demandas de pueblos originarios',
    'Laborales en general',
    'Salarios, indexación de salarios, reclamo de bonos o deudas',
    'Número y/o calidad de puestos de trabajo',
    'Condiciones de trabajo, horarios, accidentes o riesgos laborales',
    'Negociación colectiva, derechos colectivos de los trabajadores, mesas de diálogo',
    'Otras demandas laborales',
    'Pensiones, planes previsionales, sistema previsional',
    'Ecologista/ambientalista en general',
    'Construcción de centrales energéticas, puentes, represas, carreteras, etc.',
    'Desechos y residuos que contaminan o dañan el hábitat, la biodiversidad y/o la salud',
    'Tratamiento de residuos, reciclaje',
    'Polución sonora',
    'Capa de ozono, calentamiento global y demás cuestiones globales',
    'Otras demandas ambientalistas',
    'Feminista/mujeres en general',
    'Violencia contra mujeres',
    'Igualdad de salarios, cuotas políticas, educación o capacitación para mujeres, anti-discriminación',
    'Otras demandas feministas/de mujeres',
    'Salud en general',
    'Costos de salud',
    'Calidad y desigualdad en salud',
    'Salud gratuita, pública',
    'Irregularidades legales, coimas, etc.',
    'Cobertura de salud y enfermedades específicas',
    'Problemas vinculados a instituciones específicas',
    'Demandas vinculadas a médicos y otros funcionarios de la salud',
    'Nutrición, hábitos saludables',
    'Otras demandas de salud',
    'Cuestiones "valóricas". en general',
    'Aborto',
    'Divorcio',
    'Píldora del día después',
    'Eutanasia',
    'Otras demandas en cuestiones valóricas',
    'Regionalistas, locales en general',
    'Proyectos energéticos en la zona (protesta al estilo "Not in my backyard").',
    'Desarrollo local: mejor legislación, más fondos y condiciones generales para regiones o localidades',
    'Contaminación en la zona',
    'Cambios de uso de suelo (plan regulador); edificación en altura, edificación de grandes proyectos comerciales, edificaciones edilicias',
    'Infraestructura urbana; carreteras, aeropuertos, corredores de transporte y problemas de desplazamiento (Transantiago, por ejemplo).',
    'Otras demandas regionalistas o locales',
    'Minorías sexuales en general',
    'Derechos de gays',
    'Derechos de lesbianas',
    'Derechos de transexuales',
    'Otras demandas de minorías sexuales',
    'Antiinmigrantes/grupos étnicos en general',
    'Inmigrantes nacionales (migración dentro de Chile)',
    'Inmigrantes internacionales',
    'Otras demandas vinculadas a grupos étnicos o inmigrantes',
    'Régimen militar en general',
    'Personas, acontecimientos o símbolos ligados al régimen militar',
    'Investigación, esclarecimiento y/o procesamiento de militares ligados al régimen',
    'Acciones de grupos terroristas',
    'Otras demandas vinculadas a derechos humanos y régimen militar',
    'Conmemoraciones víctimas o fechas clave',
    'Vivienda en general',
    'Deudas habitacionales',
    'Construcción de viviendas',
    'Alto costo de la vivienda',
    'Campamentos, falta o precariedad de viviendas, reconstrucción post-desastre',
    'Otras demandas de vivienda',
    'Reforma del sistema político en general',
    'Cambio sistema binominal y otros cambios electorales',
    'Cambio constitucional',
    'Asamblea constituyente',
    'Leyes puntuales',
    'Solicitud de cambio en autoridad política',
    'Otras reformas en reglas políticas',
    'Corrupción',
    'Anti globalización, anti empresas transnacionales, anti neoliberalismo',
    'Derechos de los animales, vegetarianismo',
    'Derechos de consumidores',
    'Derechos de discapacitados y/o enfermos crónicos',
    'Derechos de los adultos mayores',
    'Derechos de grupos deportivos',
    'Derechos de grupos religiosos',
    'Pobreza y hambre',
    'Demanda por reforma de algún aspecto de la economía.',
    'Abusos y crímenes sexuales',
    'Demandas anarquistas, okupas y/o libertarias',
    'Eventos o situaciones internacionales',
    'Conmemoraciones',
    'Seguridad ciudadana'],
    'id':[100,101,102,103,104,105,106,107,108,109,200,201,202,203,204,205,206,207,300,301,302,303,304,305,306,
          400,401,402,403,404,405,406,500,501,502,503,600,601,602,603,604,605,606,607,608,609,700,701,702,703,
          704,705,800,801,802,803,804,805,806,900,901,902,903,904,1000,1001,1002,1003,1100,1101,1102,1103,1104,
          1105,1200,1201,1202,1203,1204,1205,1300,1301,1302,1303,1304,1305,1306,1307,1401,1402,1403,1404,1405,
          1406,1407,1408,1409,1410,1411,1412,1413,1414]}
elementos_demanda = pd.DataFrame(data=dict_elementos_demanda)
elementos_demanda['tipo'] = elementos_demanda.id//100
elementos_demanda.head()

                                           nombre   id  tipo
0                            Educación en general  100     1
1          Costos de educación, deudas educativas  101     1
2      Cobertura, calidad y desigualdad educativa  102     1
3                     Educación gratuita, pública  103     1
4  Beneficios asociados a condición de estudiante  104     1

In [20]:
#TABLA elementos de demanda en acción.
eda_aux = coes_o[['p19a1','p19b1','p19c1','p19d1','p19e1']].values.flatten()
eda_val_aux = coes_o[['p19a2','p19b2','p19c2','p19d2','p19e2']].values.flatten()
eda = pd.concat([pd.DataFrame([[i//5,v]],columns=['id_accion','id_elemento_demanda']) for i, v in enumerate(eda_aux)],ignore_index=True)
eda_val = pd.concat([pd.DataFrame([[i//5,v]],columns=['id_accion','valencia_elemento_demanda']) for i, v in enumerate(eda_val_aux)],ignore_index=True)
eda['valencia_elemento_demanda'] = eda_val.valencia_elemento_demanda
eda.head()

   id_accion id_elemento_demanda valencia_elemento_demanda
0          0
1          0
2          0
3          0
4          0

In [21]:
elementos_demanda_accion = eda.drop(eda[(eda.id_elemento_demanda==' ') & (eda.valencia_elemento_demanda==' ')].index)
print(len(elementos_demanda_accion))
print(len(elementos_demanda_accion.drop(elementos_demanda_accion[elementos_demanda_accion.valencia_elemento_demanda==' '].index)))
#Hay elementos de demanda que solo tienen la valencia :/
print(elementos_demanda_accion.head())

19842
19640
    id_accion id_elemento_demanda valencia_elemento_demanda
5           1                 206                         2
6           1                1413                         1
10          2                 805                         2
15          3                 300                         2
20          4                 206                         2

In [22]:
#Tabla campos de conflictividad en accion
cc_aux = coes_o[['p20a','p20b']].values.flatten()
campos_conflictividad_accion = pd.concat([pd.DataFrame([[i//2,v]],columns=['id_accion','campo_conflictividad']) for i, v in enumerate(cc_aux)],ignore_index=True)
campos_conflictividad_accion = campos_conflictividad_accion.drop(campos_conflictividad_accion[campos_conflictividad_accion.campo_conflictividad=='.'].index)
campos_conflictividad_accion = campos_conflictividad_accion.reset_index(drop=True)

#Tabla campos de conflictividad
campos_conflictividad = campos_conflictividad_accion[['campo_conflictividad']]
campos_conflictividad = campos_conflictividad.drop(campos_conflictividad[campos_conflictividad.campo_conflictividad=='.'].index)
campos_conflictividad = campos_conflictividad.drop_duplicates()
campos_conflictividad = campos_conflictividad.reset_index(drop=True)
campos_conflictividad['id'] = campos_conflictividad.index
dict_cc = campos_conflictividad.to_dict()['campo_conflictividad']
dict_cc_i = dict((v,k) for k, v in dict_cc.items())
campos_conflictividad_accion.campo_conflictividad = campos_conflictividad_accion.campo_conflictividad.replace(dict_cc_i)
print(campos_conflictividad_accion.head(10))
print(campos_conflictividad)

   id_accion  campo_conflictividad
0          1                     0
1          2                     1
2          3                     2
3          4                     0
4          5                     2
5          5                     3
6          6                     0
7          7                     0
8          8                     4
9          9                     2
                                 campo_conflictividad  id
0                     IDENTIDAD, MEMORIA Y PATRIMONIO   0
1                    PRESTACIÓN DE SERVICIOS PÚBLICOS   1
2                                    LABORAL/SALARIAL   2
3                           SITUACIÓN/MEDIDAS LEGALES   3
4                         VALORES/CREENCIAS/IDENTIDAD   4
5   RECURSOS NATURALES Y EXTERNALIDADES SOCIOAMBIE...   5
6                    OTROS CONFLICTOS SOCIOECONÓMICOS   6
7     CUESTIONAMIENTO Y/O RECONOCIMIENTO DE AUTORIDAD   7
8                              GESTIÓN ADMINISTRATIVA   8
9                                              TIERRA   9
10          USO DE SUELO, NORMATIVA E INFRAESTRUCTURA  10
11                        INCUMPLIMIENTO DE CONVENIOS  11
12                                               OTRO  12
13                   POLÍTICA Y AUTONOMÍA TERRITORIAL  13
14                RECURSOS NATURALES Y MEDIO AMBIENTE  14
15                                   DERECHOS HUMANOS  15
16                                SEGURIDAD CIUDADANA  16
17                                IDEOLÓGICO-POLÍTICO  17
18              ADMINISTRACIÓN DE RECURSOS ECONÓMICOS  18
19                                DESASTRES NATURALES  19
20                   LÍMITES POLÍTICO-ADMINISTRATIVOS  20
21                                    VECINAL/COMUNAL  21

In [24]:
#Tabla Actores
ados_aux = coes_o[['p15a','p15b']].values.flatten()
antes_aux = coes_o[['p18a','p18b']].values.flatten()
actores_aux = ados_aux.tolist() + antes_aux.tolist()
actores = pd.DataFrame(data=actores_aux,columns=['actores'])
actores = actores.drop_duplicates()
actores = actores.drop(actores[actores.actores=='.'].index)
actores = actores.reset_index(drop=True)
actores['id'] = actores.index
actores = actores[['id','actores']]
print(actores.head())
print(len(actores))
dict_actores = actores.to_dict()['actores']
dict_actores_i = dict((v,k) for k, v in dict_actores.items())

#Tabla actores demandados
actores_demandados = pd.concat([pd.DataFrame([[i//2,v]],columns=['id_accion','id_actor']) for i, v in enumerate(ados_aux)])
actores_demandados = actores_demandados.reset_index(drop=True)
actores_demandados = actores_demandados.drop(actores_demandados[actores_demandados.id_actor=='.'].index)
actores_demandados = actores_demandados.reset_index(drop=True)
actores_demandados.id_actor = actores_demandados.id_actor.replace(dict_actores_i)
print(actores_demandados.head())

#Tabla actores demandantes
actores_demandantes = pd.concat([pd.DataFrame([[i//2,v]],columns=['id_accion','id_actor']) for i, v in enumerate(antes_aux)])
actores_demandantes = actores_demandantes.reset_index(drop=True)
actores_demandantes = actores_demandantes.drop(actores_demandantes[actores_demandantes.id_actor=='.'].index)
actores_demandantes = actores_demandantes.reset_index(drop=True)
actores_demandantes.id_actor = actores_demandantes.id_actor.replace(dict_actores_i)
print(actores_demandantes.head())

   id                   actores
0   0            GOBIERNO LOCAL
1   1                   MINERÍA
2   2          GOBIERNO CENTRAL
3   3  ORGANIZACIONES POLÍTICAS
4   4         GOBIERNO REGIONAL
40
   id_accion  id_actor
0          2         0
1          3         1
2          4         2
3          5         0
4          8         3
   id_accion  id_actor
0          0        36
1          1        37
2          1        36
3          2        24
4          3         7

In [32]:
#Tabla Tacticas de protesta
tp_otras = coes_o[['p29f_texto']]
tp_aux = coes_o[['p29a','p29b','p29c','p29d','p29e','p29f']].values.flatten()
tacticas_protesta_dict = {'nombre':['Marcha',
                               'Manifestación',
                               'Acto',
                               'Caravana',
                               'Recolección',
                               'Desobediencia',
                               'Conferencia',
                               'Asamblea',
                               'Rememoración',
                               'Coro',
                               'Boicot',
                               'Rezo',
                               'Vigilia',
                               'Festejo',
                               'Performance manifestantes',
                               'Performance artistas',
                               'Actividades simbólicas',
                               'Huelga',
                               'Toma de edificios',
                               'Ocupación de predio',
                               'Ocupación de espacio público',
                               'Corte de ruta',
                               'Interrupción de actividades de autoridades',
                               'Funa','Huelga de hambre',
                               'Acto autodestructivo',
                               'Incendio de vehículo',
                               'Destrucción propuedad pública',
                               'Saqueo de tiendas',
                               'Artefactos explosivos',
                               'Agresiones entre manifestantes',
                               'Enfrentamientos violentos contra manifestantes',
                               'Ataque a carabineros',
                               'Ataque a transeuntes',
                               'Toma de rehenes']}
tacticas_protesta = pd.DataFrame(data= tacticas_protesta_dict)
print(tacticas_protesta.head())
tp_otras = tp_otras.drop(tp_otras[tp_otras.p29f_texto=='.'].index)
print(len(tp_otras))
tp_otras = tp_otras.drop_duplicates()
tp_otras = tp_otras.rename(columns={'p29f_texto':'nombre'}) 
print(tp_otras.head())
tacticas_protesta = tacticas_protesta.append(tp_otras)
tacticas_protesta = tacticas_protesta.reset_index(drop=True)
tacticas_protesta['id'] = tacticas_protesta.index + 1
print(tacticas_protesta)

          nombre
0         Marcha
1  Manifestación
2           Acto
3       Caravana
4    Recolección
6
                       nombre
4819   EVASIÓN PAGO DE PASAJE
10117            LINCHAMIENTO
                                            nombre  id
0                                           Marcha   1
1                                    Manifestación   2
2                                             Acto   3
3                                         Caravana   4
4                                      Recolección   5
5                                    Desobediencia   6
6                                      Conferencia   7
7                                         Asamblea   8
8                                     Rememoración   9
9                                             Coro  10
10                                          Boicot  11
11                                            Rezo  12
12                                         Vigilia  13
13                                         Festejo  14
14                       Performance manifestantes  15
15                            Performance artistas  16
16                          Actividades simbólicas  17
17                                          Huelga  18
18                               Toma de edificios  19
19                             Ocupación de predio  20
20                    Ocupación de espacio público  21
21                                   Corte de ruta  22
22      Interrupción de actividades de autoridades  23
23                                            Funa  24
24                                Huelga de hambre  25
25                            Acto autodestructivo  26
26                            Incendio de vehículo  27
27                   Destrucción propuedad pública  28
28                               Saqueo de tiendas  29
29                           Artefactos explosivos  30
30                  Agresiones entre manifestantes  31
31  Enfrentamientos violentos contra manifestantes  32
32                            Ataque a carabineros  33
33                            Ataque a transeuntes  34
34                                 Toma de rehenes  35
35                          EVASIÓN PAGO DE PASAJE  36
36                                    LINCHAMIENTO  37

In [105]:
#Tabla Tácticas en acción
tacticas_accion = pd.concat([pd.DataFrame([[i//6,v]],columns=['id_accion','id_tactica']) for i, v in enumerate(tp_aux)],ignore_index=True)
tp_otras.index = [36,37]
tp_otras_d = tp_otras.to_dict()['nombre']
tp_otras_r = dict((v,k) for k,v in tp_otras_d.items())
tp_accion_otras = coes_o[['p29f_texto']]
tp_accion_otras = tp_accion_otras.rename(columns={'p29f_texto':'id_tactica'})
tp_accion_otras = tp_accion_otras.drop(tp_accion_otras[tp_accion_otras.id_tactica=='.'].index)
print(tp_accion_otras)
tp_accion_otras['id_accion'] = tp_accion_otras.index
tp_accion_otras.id_tactica = tp_accion_otras.id_tactica.replace(tp_otras_r)
print(tp_accion_otras)
tp_accion_otras = tp_accion_otras[['id_accion','id_tactica']]
print(len(tp_accion_otras))
print(len(tacticas_accion))
tacticas_accion = tacticas_accion.append(tp_accion_otras)
tacticas_accion = tacticas_accion.sort_values('id_accion')
print(tacticas_accion[tacticas_accion.id_tactica==36])
print('size',len(tacticas_accion))
tacticas_accion = tacticas_accion.reset_index(drop=True)
tacticas_accion = tacticas_accion.drop(tacticas_accion[tacticas_accion.id_tactica==' '].index)
tacticas_accion = tacticas_accion.reset_index(drop=True)
print(tacticas_accion.head())
print('size',len(tacticas_accion))

                   id_tactica
4819   EVASIÓN PAGO DE PASAJE
4836   EVASIÓN PAGO DE PASAJE
4837   EVASIÓN PAGO DE PASAJE
4838   EVASIÓN PAGO DE PASAJE
10117            LINCHAMIENTO
10125            LINCHAMIENTO
       id_tactica  id_accion
4819           36       4819
4836           36       4836
4837           36       4837
4838           36       4838
10117          37      10117
10125          37      10125
6
69066
      id_accion id_tactica
4819       4819         36
4836       4836         36
4837       4837         36
4838       4838         36
size 69072
   id_accion id_tactica
0          0         30
1          1         30
2          1         27
3          2          2
4          3         18
size 18106

In [107]:
print(tacticas_accion[tacticas_accion.id_tactica==37])

       id_accion id_tactica
15855      10117         37
15865      10125         37

In [ ]:
#Write t